n8n_starter_flow.json
{
  "name": "Social Media Starter Flow (GitHub Webhook)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "webhook-github-push",
        "options": {}
      },
      "name": "GitHub Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "github-push-trigger"
    },
    {
      "parameters": {
        "command": "echo \"Received GitHub push. Commit message: {{ $json.body.head_commit.message }}\"",
        "options": {}
      },
      "name": "Log GitHub Info",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "command": "echo \"Placeholder: Would now attempt to post to LinkedIn with content from GitHub push: {{ $json.body.head_commit.message }}\"",
        "options": {}
      },
      "name": "LinkedIn Post (Placeholder)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "command": "echo \"Placeholder: Would now attempt to post to X (Twitter) with content from GitHub push: {{ $json.body.head_commit.message }}\"",
        "options": {}
      },
      "name": "X/Twitter Post (Placeholder)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "GitHub Push Webhook": {
      "main": [
        [
          {
            "node": "Log GitHub Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log GitHub Info": {
      "main": [
        [
          {
            "node": "LinkedIn Post (Placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X/Twitter Post (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "socialMediaStarter"
}
